@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

body {
  font-family: 'Roboto Slab';
  background-color: #4327FF;
}

.container {
  width: 90%;
  max-width: 1280px;

  padding: 10px 10px;

  margin-right: auto;
  margin-left: auto;

  background-color: #8AD9FF;
}

#title {
  color: #2E5AFF;
}

/* Form */
.form {
  padding-left: 10px;
}

.form p {
  font-weight: bold;
}

input[readonly] {
  background-color: #969696;
}


/* Buttons */
button {
  font-weight: 500;
}

button[name='addContact'] {
  background-color: #34C8FF;
}

button[name='resetForm'] {
  background-color: #FFEEB5;
}

button[name='eraseList'] {
  background-color: #E84F4D;
}

/* Contact List */
contact-list {
  display: table;
  width: 100%;
}

contact-info {
  margin-top: 10px;

  display: table-cell;
  float: left;

  background-color: #6164FF;

  text-align: center;
}

/* Media queries */
@media all and (min-width: 0px) {
  contact-info {
    width: 100%;
    margin-left: 0%;
  }
}

@media all and (min-width: 700px) {
  contact-info {
    width: 32%;
    margin-left: 2%;
  }

  contact-info:nth-child (3n + 1)  {
    margin-left: 0;
  }
}
